/*About*/
.navbar-custom {
    margin-bottom: 0;
}
.bckg-pink{
       background-color: #f2755A;
 
}
.bckg-red{
    background-color: #F05F40;
}
.txt-w{
    color:white;
}

/*COMIENZO --> Mis Trabajos - Footer -> Reina*/
.mistrabajos-section img {
    width: 100%;
}
.padding-0 div {
    padding: 0%!important;
}
.github-section {
    background-color: #222222;
}
.github-section h3 {
    color: white;
    text-align: center;
    margin-top: 3%;
    margin-top: 2%;
}
.button-github {
    background-color: white;
    border-radius: 20px;
    padding: 0.7%;
    color: #222222;
    text-align: center;
    width: 9%;
    font-weight: 700;
    margin: auto;
    margin-bottom: 2.5%;
    margin-top: 1%;
    font-size: 11px;
}
/*FINAL --> Mis Trabajos - Footer -> Reina*/


/*oshe que fue, que telible. yo no he modificado nada 
e.e  ni si quiera empiezo xd*/